body{
    margin: 0;
    background-color:mediumslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 80%;
    height: 100%; /*alto de toda la pantalla*/
    justify-content: center;
    padding: 10px;
}

#main h1{
    margin: 4px auto;
    color: white;
}

#modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.500);
    z-index: 10;
    color: white;
}

.memotest-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 10px auto;
}

.memotest-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    font-size: 4rem;
    background-color: aquamarine;
    user-select: none;
    border-radius: 5px;
}

.memotest-card-top{
    position: absolute;
    background-color: tomato;
    cursor: pointer;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    border-radius: 5px;
}

.memotest-card-top:hover{
    transform: scale(1.1, 1.1);
    transition: transform .3s;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
    background-color: aquamarine;
    border-radius: 8px;
    padding: 8px 8px;
    font-weight: bold;
    margin: 2px auto;
    user-select: none;
}

.button:hover{
    color: aquamarine;
    background-color: tomato;
    cursor: pointer;
}

.win-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 4px;
}

#attempt-counter{
    font-weight: bold;
}

.description{
    color: white;
    width: 300px;
    margin: 4px auto;
    text-align: center;
}

@keyframes fadeIn {
    from {background-color: rgba(0, 0, 0, 0);}
    to {background-color: tomato;}
}

@keyframes fadeOut{
    from {background-color: tomato;}
    to {background-color: rgba(0, 0, 0, 0);}
}